.resize {
    width: 150px;
    height: 150px;
}

p {
    color: white;
}

body {
    background-image: url(assets/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
}

#nav {
    color: darkblue;
    font-size: 30px;
    
}

#arena {
    color: white;
    font-size: 20px;
}