.resize {
    width: 150px;
    height: 150px;
}

p {
    color: #ffd700;
    font-family: 'Nanum Gothic Coding', monospace;

}

body {
    background-image: url(assets/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Nanum Gothic Coding', monospace;

    
}

#nav {
    color: #ffd700;
    font-size: 30px;
    font-family: 'Nanum Gothic Coding', monospace;

    
}


#arena {
    color: #ffd700;
    font-size: 25px;
    font-family: 'Nanum Gothic Coding', monospace;

}